 <div class="row" id="post-list-box">
    <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-12 col-md-12 post-header-wrap">
        <%= link_to show_post_path(post) do %>
            <div class="post-header" style="background-image: url('<%= post.image.contentimg.url %>')" >
                <div class="post-header-title category<%= post.category_id %>">
                    <h1 >
                        <%= post.title %>
                    </h1>
                    <p><%= post.created_at.to_date %></p>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
    </div>
    <div class="row">
    <div class="col-sm-12 posts-pagination">
    <hr class="page-title-line">

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

    <hr class="page-title-line">
    </div>
    </div>