<% content_for :head do %>
    <meta property="fb:app_id" content="456973521359868" />

<% end %>
<div class="row">
	<div class="col-sm-12 post-title-wrap">
		<h1 class=""><%= @posts.title %></h1>
    </div>
</div>
<div class="post-content-wrap">
<div class="post-content">
<div class="show-post-wrap">
<div class="row show-post">
		<div class="col-sm-12 col-md-12">
			<div class="post-header" style="background-image: url('<%= @posts.image.contentimg.url %>')" >
				<div class="post-header-title category<%= @posts.category_id %>">
					<h1 >
						<%= @posts.title %>
					</h1>
					<p><%= @posts.created_at.to_date %></p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 post-nav-wrap">
			<div class="post-nav">
				<%= link_to '', :back, class: 'fa fa-arrow-left fa-2x', id: 'arrow-back' %>
			</div>
		</div>
		<div class="col-sm-12 col-md-12">
			<div class="post-content-box">
        <%= raw @posts.content.html_safe %>
			</div>
      <%= content_tag :div, '', :class => "fb-comments", "data-width" => "100%", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light" %>
    </div>
</div>
</div>
</div>
</div>
