<div class="row">
  <div class="col-sm-12">
    <h1 class="page-title">Listing Categories</h1>
  </div>
</div>
<%= link_to 'New Category', new_admin_category_path %>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
      <td>
      <ul class="list-unstyled">
      <li><%= link_to '', [:admin, category], class: 'fa fa-eye fa-lg a-show-small' %></li>
      <li><%= link_to '', edit_admin_category_path(category), class: 'fa fa-pencil-square-o fa-lg a-edit-small' %></li>
      <li><%= link_to '', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash fa-lg a-del-small' %></li>
      </ul>
  
        </td>
        <td><%= category.name %></td>
        
        
       
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
