<!DOCTYPE html>
<html>
<head>
  <title>Mindenféle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar-wrapper">
<%= render 'layouts/adminnav' %>
</div>


<div class="container" id="content">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

		<%= render 'layouts/notice' %>
		<%= yield %>		
	
	</div>

	</div>
</div>


<%= render 'layouts/adminfooter' %>

</body>
</html>