<!DOCTYPE html>
<html>
<head>
  <title>Mindenféle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>
<body style="<% if current_page?(root_path) %>
    background-image: url('/img/mindenfele.png');background-repeat: no-repeat;
  background-position: center 35px;
<% end %>">

<div class="navbar-wrapper">
<%= render 'layouts/navbar' %>
</div>



<div class="container" id="content">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

    <% if current_page?(root_path) %>
      <%= render 'pages/coming' %>
    <% end %>
	
  	<%= yield %>		
	
  </div>
	</div>
</div>


<%= render 'layouts/footer' %>

</body>
</html>
